.searchContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.searchInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
}

.clearButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #ccc;
}

.clearButton:hover {
  color: #ff6347;
}
